textarea {
    width: 100%;
}

input {
    width: 100%;
}

#textwrapper {
    border: 1px solid #999999;
    margin: 5px 0;
    padding: 3px;
}

#myDIV {
    display: none;
}

#content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

#intro-section {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#body {
    background-color: #F7F7FC;
}

#footer {
    margin-top: 15px;
    margin-bottom: 15px;
}

#applicants-section {
    padding-left: 20px;
    padding-right: 20px;
}

.applicant-block {
    padding: 20px;
    margin-bottom: 10px;
}

.big-box {
    height: 48px;
    line-height: 48px;
}

.bell-icon {
    margin-top: 10px;
    width: 50px;
}

.searchbar-icon {
    margin-top: 7px;
    padding-left: 20px;
    padding-right: 20px;
    width: 20px;
}

.icon-colour {
    color: #9A9AB0;
}

.table-header {
    background-color: #3E5146;
    color: white;
}

.active-button {
    background-color: #4A5B51;
}
